:root{ /* pseudoclass da tag html */
    --cor-principal: #F92355;
}

@font-face {
    font-family: "cream-cake";
    src: url(../res/font/cream_cake.otf);
}

body{
    margin: 0;
    overflow: hidden
}

#divProdutos{
    width: 100%;
    height: 100%;
    background-color: rgba(115, 199, 224, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: scroll;
}

.card{
    border-radius: 10px;
    width: 200px;
    height: 250px;
    margin: 15px;
    background-color: #069AF3;
    
}

.card-img{
    width: 100%;
    height: 180px;
}

.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.card-descricao{
    width: 100%;
    font-size: 12px;
    text-align: center;
    height: 30px;
    padding-top: 10px;
    color: #ffffff;
}

.card-comprar{
    font-family: 'cream-cake';
    font-size: 20px;
    text-align: center;
    background-color: #90fdab;
    padding-top: 5px;
    height: 30px;
    color: #173000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-comprar:hover{
    cursor: pointer;
    border: 0.5px solid #87f6bb;
    padding-top: 10px;
    box-shadow: 0.5px 0.5px 1px 1px #87f6bb;
}

.card-comprado {
    background-color: rgb(209, 45, 45);
    color: white;
}


.menu{
    height: 40px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.menu p{
    margin-right: 50%;
}

.menu .sair{
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    margin-right: 10px;
    cursor: pointer;
}

.menu .carrinho{
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 30px;
    cursor: pointer;
}

.menu span{
    margin-right: 25px;
    margin-left: 2px;
    background-color: greenyellow;
    border-radius: 50%;
    width: 20px;
}

.desc-prod{
    font-weight: 700;
    font-size: 2vh;
    color: rgb(25, 5, 63);
}







